global
    maxconn 2000
    ulimit-n 16384
    log 127.0.0.1 local3 err
    stats timeout 30s

defaults
    log global
    mode http
    option httplog
    timeout connect 5000
    timeout client 50000
    timeout server 50000
    timeout http-request 15s
    timeout http-keep-alive 15s
frontend k8s-master
    # 监听16443端口和生成证书时的配置要一样
    bind 0.0.0.0:16443
    bind 127.0.0.1:16443
    mode tcp
    option tcplog
    tcp-request inspect-delay 5s
    default_backend k8s-master
backend k8s-master
    mode tcp
    option tcplog
    option tcp-check
    balance roundrobin
    default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
    #server k8s-master01 10.10.1.171:6443 check
    #server k8s-master02 10.10.1.172:6443 check
{% for ip in groups['master'] %}
server {{ hostvars[ip].node_name }} {{ hostvars[ip].inventory_hostname }}:6443 check
{% endfor %}
